/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Heads: font-family: 'Gideon Roman', cursive;
Body: font-family: 'Montserrat', sans-serif;
Natural Closet font-family: 'apaluregular', fallback, sans-serif;
Website Colours: List colour hex codes here for reference
Green: #485651
Mustard: #AC8949
Brown: #472D0E
From designer: GREEN rgb(100,121,96); BROWN rgb(91,72,64) CREAM rgb(235, 233, 230)
----------------------------
*/



* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid rgb(220,220,200); */
}
/* This is the universal reset for every page */

@font-face {
    font-family: 'apaluregular';
    src: url('fonts/apalu-webfont.woff2') format('woff2'),
         url('/fonts/apalu-webfont.woff') format('woff'),
         url('/fonts/apalu-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
  max-height: 100%;
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk where contents inside of equal height containers become columns themselves */
}
/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:98%;
}
.half-width { /* for image grids, make sure you eliminate the whitespace issue in your html. Gives 2 images below product */
  width: 48%;
  margin-right: 1%;
  display: inline-block;
}

.third-width { /* for image grids, make sure you eliminate the whitespace issue in your html. Gives 3 images below product */
  width: 32%;
  margin-right: 1%;
  display: inline-block;
}

.quarter-width { /* for image grids, make sure you eliminate the whitespace issue in your html. Gives 3 images below product */
  width: 25%;
  margin-right: 1%;
  display: inline-block;
}

.black {color: black;}

.white {color: white;}

.brown {color: #472D0E}

/* ----- UNIVERSAL STYLES --------------------------- */

.featured{
  background-color: #485651;
  color: white;
}

.featured h1,
.featured h2,
.featured h3 {
  color: white;
}

section {
  padding: 2%;
}

.header-image {
  background-size: cover;
  background-position: top;
  display: flex;
  min-height: 75vh;
}

.linen-banner {
  background-image: url('/images/green_linen.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}

.dressmaker {
  background-image: url('/images/dressmaker.jpg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
}

.dressmaker h2  {
  text-align: right;
  font-size: 6rem;
  color: #472D0E;
}

.header-image h6 {
  font-size: 3rem;
  font-family: 'Gideon Roman', cursive;
  text-align: right;
  color: #472D0E;
}

h1, h2, a {
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
  font-weight: 300;
}

h1 {
  font-family: 'gideon roman', cursive;
  font-size: 8rem;
  color: #472D0E;
  padding: 0px;
  margin: 0px;
}

.front-title  {
    text-align: center;
  }

h2 {
  font-size: 8rem;
  color: black;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 4rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 4rem;

}

h5 {
  font-size: 6rem;
  font-family: 'Gideon Roman', cursive;
  font-weight: 300;
}

h6 {
  font-size: 4rem;
  font-family: 'Gideon Roman', cursive;
  font-weight: 300;
}

p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

a {
  color:inherit;
}

span {
  color: #472D0E;
  font-family: 'Gideon Roman', cursive;
}

.tile-image1 {
  background-image: url('images/clothing-gallery.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 50vh;
  margin: 1%;
}
.tile-image2 {
  background-image: url('images/fabric-gallery.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 50vh;
  margin: 1%;
}
.tile-image3 {
  background-image: url('images/custom-made-gallery.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 50vh;
  margin: 1%;
}
.tile-image4 {
  background-image: url('images/tape-measure.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 50vh;
  margin: 1%;

}
.tile-text {
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: #472D0E;
  background-color: rgb(255,255,255, 0.8);
  padding: 3%;


}

/* about page */
.sue-pic {
  background-image: url('/images/sue-pic.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

.nathans-pic {
  background-image: url('/images/nathans.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

.about {
  padding: 1rem;
}

.video {
  padding: 2rem;
  max-width: 100%;
  height: auto;
position:


}

/* Buttons */
 button, /* button is an element snipcart uses */
.button,
.button-inverted {
  background-color: #485651; /* featured color */
  border: none;
  border-radius: 5px;
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.button-inverted {
    border: 2px solid white;
    color: white;
}
 button:hover,
.button:hover,
.button-inverted:hover {
  background-color: #AC8948;
  transition: all 0.5s;
}
/* Shop Elements */
.clothing-loop a {
  color: black;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.clothing-loop .box-img {
  min-height: 40vh;
  display: flex;
  background-position: center;
  background-size: cover;
}

.clothing-loop h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
    color: black;
}

.fabric-loop a {
  color: black;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.fabric-loop .box-img {
  min-height: 40vh;
  display: flex;
  background-position: center;
  background-size: cover;
}

.fabric-loop h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
    color: black;
}

.customer-loop a {
  color: black;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.customer-loop .box-img {
  max-height: 50vh; /*this allows the images to be the same height regardless of width so horizontal images display properly */
  display: inline-flex; /*this puts the images on the same line*/
  background-position: center;
  background-size: cover;
}

.customer-loop h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
    color: black;
}

.little {
  font-size: 2rem;
  text-align: center
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: black
}

.big {
  font-size: 10rem;
  text-align: center;
  font-family: 'Gideon Roman', cursive;
  color: black;
}

.connect {
  background-color: #485651;
  color: white;
  padding: 2rem;
  min-height: 15vh;
}

.connect-text {
  font-size: 2rem;
  /* padding-right: 100px; */
}

nav a {
    text-decoration: none;
    padding: 0;
    color: white;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Gideon Roman', cursive;

}
nav a:hover {
  color: #472D0E; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.front-nav {
  background-color: white;
  height: 6rem;
}

.logo {
  max-height: 2.5rem;
  max-width: 15rem;
  margin: 0.5em 0;
}
header {
  /* border-bottom: 1px solid rgb(245,245,245); */
  background-color: #485651;
  color: white;
}

header nav a {
  display: inline-flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

header h2 {
  font-size: 4rem;
  text-align: left;
  color: white;
  padding: 1rem;
  /* margin-left: 2rem; */
}

header h3 {
  font-family: 'Gideon Roman', cursive;
  display: inline-block;
  font-size: 4rem;
  text-align: left;
  color: white;
  padding-top: 1rem;
}

header p {
  text-align: center;
  color: white;
  padding: 1rem;
}

footer {
  /* border-top: 1px solid rgb(245,245,245); */
  background-color: #485651;
  color: white;
}
footer nav a {
  display: inline-flex;
  flex-direction: row;
  /* padding: 3rem; */
  font-size: 3rem;
}

footer h2 {
  font-size: 3rem;
  text-align: left;
  color: white;
  vertical-align: middle;
  padding: 1rem;
}

footer h3 {
  font-family: 'Gideon Roman', cursive;
  display: inline-block;
  font-size: 4rem;
  text-align: left;
  color: white;
  padding-top: 1rem;
}

footer p {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
  font-size: 1rem;
}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
  color: white;
}

footer nav i:hover {
  color: #472D0E; /* this makes the icons brown on hover */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pure-drawer { /* pop-out hamburger menu */
  padding: 5em 3%;
  background-image: url();
}

.mob-nav a {
  display: block;
  padding: 0.5em;
  font-size: 3rem;
  color: white;
}

.social-nav i{
  padding-top: 4rem;
  color: white;
}

.social-nav a {
    text-decoration: none;
    padding: 0;
    color: white;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Gideon Roman', cursive;

}
.social-nav a:hover {
  color: #472D0E; /* brown */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #472D0E; /*brown*/
  color: white;
  width: 100%;
  padding: 12px 19px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
  color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  /* background-color: #485651; */
  padding: 20px;
}

/* media queries */
@media all and (max-width: 768px){
  .banner {
    background-image: none;

  }

@media(max-width:48em) {
  }

  /* ------ General Responsive Helpers ---------*/

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%;
  }

  .mob-hide {
      display: none;
  }

  .mob-show {
    display: block;
  }

  .mob-center {
    text-align: center;
  }

  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  body,
  .left,
  .right {
    text-align: center;
  }
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  .col,
  [class*=col-] {
    padding: 1rem;
  }/* End media query */
  textarea {
    margin: 0;
  }

}
