<footer class="grid-middle linen-banner">

  <!-- Column 1 -->
  <div class="col-4_sm-12 no-padding">
    <a href="/index"><h2 class="mob-center"> Nathans Boutique </h2></a>
  </div>

  <!-- Column 2 -->
  <div class="col-4_sm-6_xs-12 no-padding centered phone-link">
    <!-- <h3><span>Find</span> us </h3> -->
    <p><br>Cnr Targo & Walker Street<br>Bundaberg, QLD, 4670<br> <a style="font-family: 'Montserrat', sans-serif; font-weight: normal;" href="tel:0427556630">Ph. 0427 556 630</a></p>
    <!-- could I link to google maps here? -->
  </div>

  <!-- Column 3 -->
  <div class="col-4_sm-6_xs-12 no-padding right">
    <nav>
      <a href="https://www.facebook.com/NaturalCloset/"> <i class="fa fa-facebook mob-center"></i></a>
      <a href="https://www.instagram.com/nathansboutique/"> <i class="fa fa-instagram mob-center"></i></a>
    </nav>
  </div>

</footer>
