---
layout: default
title: clothing
---


<section class="grid " style="padding: 2rem; margin: 1rem;">
  <!-- I took out the 'tall' class here to remove a gap at the bottom of the picture. Add it back in if you go to multiple images -->

  <div class="col-8_sm-12 grid">
      <img class="col-4_md-8_sm-12" src="{{page.image_path}}" >
      <!-- The following for loop needs to stay on one line as it's using inline-block, when there is no space between the loop and the image it will eliminate the linespace issue. -->
      {% for image in page.images %}<img class="quarter-width col-4_md-8_sm-12" src={{image.url}} alt="{{image.alt}}">{% endfor %}
  </div>

  <div class="editable col-4_sm-12" style="padding: 1rem;">
    <h6> {{page.name}} </h6>

    {{content}}

    </div>
</section>
