---
layout: default
title: Nathans Boutique | Custom Made Gallery
---
<!--<section class="grid centered" style="padding: 2rem; margin: 1rem;">-->
  <!-- I took out the 'tall' class here to remove a gap at the bottom of the picture. Add it back in if you go to multiple images -->
<!--  <div>-->
<!--    <h2> {{page.name}} </h2>-->
    <!-- <h3> $ {{page.price}}</h3> this is the price -->

<!--    {{content}}-->

<!--    </div>-->

<!--  <div class="grid">-->
      <!--<img class="col-4_md-8_sm-12" src="{{page.image_path}}">-->
      <!-- The following for loop needs to stay on one line as it's using inline-block, when there is no space between the loop and the image it will eliminate the linespace issue. -->
<!--       {% for image in page.images %}<img class="col-4_md-8_sm-12" src={{image.url}} alt="{{image.alt}}">{% endfor %}-->
       
       
<!--      <div class="post grid centered">-->
<!--        <p class="button"><a href="/customers/custom-made-gallery">Return to Top</a></p>-->
<!--        <p class="button"><a href="/clothing-gallery">See what We Make</a></p>-->
<!--        <p class="button"><a href="/fabric-gallery">See our Fabric Gallery</a></p>-->
<!--        <p class="button"><a href="/about#how-to-measure">Learn How to Measure</a></p>-->
<!--        <p class="button"><a href="tel:0427556630">Call Sue or Carole</a></p>-->
<!--      </div>-->

<!--  </div>-->
<!--</section>-->

<section class="grid" style="padding: 2rem; margin: 1rem;">
    <!-- I took out the 'tall' class here to remove a gap at the bottom of the picture. Add it back in if you go to multiple images -->
    <div>
      <h2> {{page.name}} </h2>

            {{content}}

        


      </div>
    <div class="customer-loop grid">
      <!--<img class="col-4_md-8_sm-12" src="{{page.image_path}}">-->
      <!-- The following for loop needs to stay on one line as it's using inline-block, when there is no space between the loop and the image it will eliminate the linespace issue. -->
       {% for image in page.images %}<img class="col-3_md-8_sm-12 box-img" src={{image.url}} alt="{{image.alt}}">{% endfor %}
    </div>
    
    <div>
        <p class="button"><a href="/customers/custom-made-gallery">Return to Top</a></p>
        <p class="button"><a href="/clothing-gallery">See what We Make</a></p>
        <p class="button"><a href="/fabric-gallery">See our Fabric Gallery</a></p>
        <p class="button"><a href="/about#how-to-measure">Learn How to Measure</a></p>
        <p class="button"><a href="tel:0427556630">Call Sue or Carole</a></p>

      
    </div>
</section>
