---
layout: default
title: Nathans Boutique | Custom Made Gallery
---
<section class="grid centered" style="padding: 2rem; margin: 1rem;">
  <!-- I took out the 'tall' class here to remove a gap at the bottom of the picture. Add it back in if you go to multiple images -->
  <div style="margin: 1rem;">
    <h2> {{page.name}} </h2>
    <!-- <h3> $ {{page.price}}</h3> this is the price -->

    {{content}}

    </div>

  <div class="equalHeight customer-loop">
    <!-- The following for loop needs to stay on one line as it's using inline-block, when there is no space between the loop and the image it will eliminate the linespace issue. -->
      {% for image in page.images %}<img class="box-img col-3_md-8_sm-12" src={{image.url}} alt="{{image.alt}}">{% endfor %}

      <div class="post grid">
        <p class="button centered"><a href="/customers/custom-made-gallery">Return to Top</a></p>
        <p class="button centered"><a href="/clothing-gallery">See what We Make</a></p>
        <p class="button centered"><a href="/fabric-gallery">See our Fabric Gallery</a></p>
        <p class="button centered"><a href="/about#how-to-measure">Learn How to Measure</a></p>
        <p class="button centered"><a href="tel:0427556630">Call Sue or Carole</a></p>
      </div>

  </div>


</section>
